<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		<title>Usuário</title>
	</h:head>
	
	<h:body>
		<h:messages/>
		<h1>Nova frase</h1>
		<h:form>
			<fieldset>
                            <p> Nome: <h:inputText value="#{cadastrarFraseMBean.frase.nome}" 
					size="20" required="true" requiredMessage="Identificação: Campo obrigatório." /> </p>
				
                            <p><h:commandButton value="Cadastrar" action="#{cadastrarFraseMBean.cadastrar()}" />
                                <h:commandButton value="Voltar" action="#{cadastrarFraseMBean.voltar}"
				immediate="true"/> </p>
			</fieldset>
		</h:form>
	</h:body>
</html>