<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core">
    <head>
        <title>TODO supply a title</title>
       <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css"/>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
       
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <script>
      $(function() {
            $("#accordion_1").accordion();
      });
</script>
       <h1>Frases Adicionadas</h1> 
<div id="accordion_1">      
       <ui:repeat value="#{cadastrarUsuarioMBean.usuarios}" var="item"> 
           <h3><a href="#">Frase de #{item.nome}</a></h3>
      <div>
            <p>#{item.frase}</p>
      </div>
        </ui:repeat>
    
</div>  
     

        <br/>
       
        <p>
            <h:form>
                <div class="row">
                                
                                <div>
                                
                                     <h:commandButton class="waves-effect waves-light btn-small" value="Voltar" action="#{cadastrarUsuarioMBean.voltar}"
				immediate="true"/> 
                                </div>
                            </div>
                
            </h:form>

        </p>
    </body>
</html>
